{
    "iso_url": "/Users/marc/ISO/debian-7.1.0-amd64-netinst.iso",
    "install_daemontools": "true",
    "install_mongodb": "true",
    "install_monit": "true",
    "install_mysql": "true",
    "install_postgresql": "true",
    "install_rabbitmq": "true",
    "install_redis": "true",
    "install_zsh": "true"
}
